div{
  width: 600px;
  border: 1px solid black;
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: rgb(66, 237, 177);
}