.aj{
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 200px;
  
}